<div class="container">
  <form action="" [formGroup]="form" (ngSubmit)="saveEmployee()">
    <div class="form-group">
      <label for="firstName"> First Name: </label>
      <input type="text" id="firstName" formControlName="firstName" class="form-control"
        [(ngModel)]="employeeDetails.firstName" />
      <div *ngIf="formData.firstName.errors && formData.firstName.invalid" class="alert alert-danger">
        <div *ngIf="formData.firstName.errors.required">FirstName is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="lastName"> Last Name: </label>
      <input type="text" id="lastName" formControlName="lastName" class="form-control"
        [(ngModel)]="employeeDetails.lastName" />
      <div *ngIf="formData.lastName.errors && formData.lastName.invalid" class="alert alert-danger">
        <div *ngIf="formData.lastName.errors.required">LastName is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="email"> E-Mail: </label>
      <input type="email" id="email" formControlName="email" class="form-control" [(ngModel)]="employeeDetails.email" />
      <div *ngIf="formData.email.errors && formData.email.invalid" class="alert alert-danger">
        <div *ngIf="formData.email.errors.required">Email is required.</div>
        <div *ngIf="formData.email.errors.pattern">Please, Enter valid Email Address.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="contactNumber"> Contact Number: </label>
      <input type="tel" id="contactNumber" formControlName="contactNumber" class="form-control"
        [(ngModel)]="employeeDetails.contactNumber" />
      <div *ngIf="formData.contactNumber.errors && formData.contactNumber.invalid" class="alert alert-danger">
        <div *ngIf="formData.contactNumber.errors.required">Contact Number is required.</div>
        <div *ngIf="formData.contactNumber.errors.pattern">Please, Enter 10 digit Contact Number.</div>
      </div>
    </div>
    <button class="btn btn-primary" type="button" [disabled]="!form.valid" (click)="saveEmployee()">Save</button>
    <button class="btn btn-primary" type="button" (click)="cancel()">Cancel</button>
    <br>
  </form>
</div>
